<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login | Chat</title>
  <link rel="stylesheet" href="../Register_Login.css">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>reset password</header>
      <form id="loginForm" action="confirm_password" method="post">
        <input type="text" name="otp" id="" placeholder="Enter otp" required>
        <input type="email" name="email" id="" placeholder="Enter your email" required>
        <input type="password" name="new_password" id="" placeholder="Enter new password" required>
        <input type="submit" class="button">
    </form>
    </div>
   
  </div>

  <!-- <script>
    document.getElementById("loginButton").addEventListener("click", function () {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username === "" || password === "") {
            alert("Please fill in all fields.");
            return;
        }

        // if (username.length < 3) {
        //     alert("Username must be at least 3 characters long.");
        //     return;
        // }

        // if (password.length < 4) {
        //     alert("Password must be at least 4 characters long.");
        //     return;
        // }

        // If all validations pass, submit the form
        document.getElementById("loginForm").submit();
    });
    
</script> -->
</body>
</html>
